

// variables

$p-text: rgb(85, 85, 85);
$primary-black: rgb(7, 7, 7);
$primary-white: rgb(255, 255, 255);
$btn-border: rgb(53, 53, 53) 0.1rem solid;
$btn-border-white: rgd(255, 255, 255) 0.1rem solid;
$btn-background: rgb(53, 53, 53);
$border-color: rgb(163, 163, 163);
